<?xml version="1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
<title>Contact</title>

</head>
<body>

 <u1>
 <li><a href="/home">Home</a></li>
 <li><a href="/database">Database</a></li>
 <li><a href="/map">Map</a></li>
 <li><a href="/contact">Contact</a></li>
 
 </u1> 
 <br />
  <br />
  


<center> <h3> <u>Contact Us </u></h3></center> 
  <br />
    <br />

<div class="form">
<form action="contact.php" method="post">   
 <center><h8>  Your name  </h8> <br /> </center>  
 <center><input type="text" name="cf_name"></center> <br />   
  <center><h8>  Your e-mail  </h8> </center> <br />   
 <center><input type="text" name="cf_email"></center> <br />   
  <center><h8>  Message  </h8> </center> <br />    
 <center><textarea name="cf_message"></textarea></center> <br />
 <br />
 <center><input type="submit" value="Send"></center> <br />
 <center><input type="reset" value="Clear"></center> 
 </form>
</div>

</body>
</html>