<html>
<head>


</head>

<body>
<br />
<u1>
 <li><a href="home.html">Home</a></li>
 <li><a href="database.html">Database</a></li>
 <li><a href="map.html">Map</a></li>
 <li><a href="timeline.html">Timeline</a></li>
 
 
 </u1> 
<br />
<br />
<br />
<br />
<h1> <center><u>Home Page </u> </center></h1>
<br />

<div class="background1">
 <div class="transbox1">
 <br />
 <br />
 <br />
 <br />
 <br />
 
 <center>
<div class="form">
<form action="/log_in">
	<strong><input type="submit" value="Login"/>
</form>
<br />
<form action="/sign">
	<input type="submit" value="Sign Up"/>
</form>
<br />
<form action="/my_account">
	<input type="submit" value="My Account"/>
</form>
</center>
</div>
</div>
</div>

 
</body>
</html>