 li{
 display:inline;
 float: left;
 color:white;
 font-size: 20px;
 text-indent: 70px;
 width:220px;
 padding: 8px;
 border:5px solid black;
 margin-left:20px; 
 height: 30px;
}

div.form
{
font-size:25px;
font-style:strong;
}

div.background1
   {
   width:800px;
   height:480px;
   background:url('clouds.jpg') no-repeat fixed;
   border:5px solid black;
   margin-right: 20px;
  margin-left: 260px;
   margin-top: 30px;
   position: relative;
   }
 div.transbox1
   {
   width:700px;
   height:400px;
   background-color:#ffffff;
   border:1px solid black;
   margin-left: 50px;
   margin-top: 30px;
   opacity:0.6;
 
   filter:alpha(opacity=60); /* For IE8 and earlier */
   }
div.transbox p
   {
   margin:30px 30px;
   font-weight:bold;
   color:#000000;
   }
   
 h1 {
   
   font-size: 30px;
   margin-left: 580px;
   }
   
 div.header1 {
font-size: 25px;
}
body {
  background-color:#F0F8FF;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  
}
 
 h1 {
 font-size: 28px;
 color: solid black;
 }
 

 div.background
   {
   width:1800px;
   height:18380px;
   background:url('clouds.jpg') no-repeat fixed;
   border:5px solid black;
   margin-right: 20px;
   margin-left:20px;
   margin-top: 70px;
   position: relative;
   }
 div.transbox
   {
   width:1700px;
   height:18270px;
   background-color:#ffffff;
   border:1px solid black;
   opacity:0.6;
   margin-left: 40px;
   margin-top: 30px;
   filter:alpha(opacity=60); /* For IE8 and earlier */
   }
 div.transbox p
   {
   margin:30px 30px;
   font-weight:bold;
   color:#000000;
   }
   
 #map_canvas {
margin-left: 30px;
width: 1500px;
height: 1300px;
}
   