<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		
		<script src="http://code.jquery.com/jquery-1.7.min.js" ></script>
		<script src="http://code.jquery.com/ui/1.7.0/jquery-ui.js" ></script>
		
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="style2.css" />
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="grid2.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="style1.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="grid.css" />
	</head>
	
	<body>
	
<u1>
 <li><a href="home.html">Home</a></li>
 <li><a href="database.html">Database</a></li>
 <li><a href="map.html">Map</a></li>
 <li><a href="about.html">About</a></li>
 
 
 
 </u1> 
		
		<div class="container_8 main">
			<div class="grid_8">
				<div class="content1">

					<!-- app/views/users/my_account.html.erb -->
	<br/>
	<br/>
		<br/>
		<br/>
<div class="background1">
 <div class="transbox1">
 <center><div class="header1">Account Info </center>
<div class="bodyo">		
<br/>
<p><center>Your username is <strong><%= @sessName %></strong></center>
<% if @authed == 1%>
<center>
<u><p>List of website users</p></u><br/>
<% @test.each do |happy| %>
<p><%= happy.email %></p>
<%end%>
<%end%>
</center>
<center>
<br/>
<br/>
<form action="/log_out">
<input type="submit" value="Log out"/>
</form>
</center>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</body>
</html>